<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../Styles/globalStyles.css" />
  <link rel="stylesheet" href="../Styles/About.css" />
  <title>About</title>
</head>

<body>
  <header>
    <img src="../Assets/logo.png" />
  </header>
  <nav>
    <a href="../Home.html">Home</a>
    <a href="../Home.html"> Habilidades</a>
    <a href="../Components/Formulario.html">Contactame</a>
  </nav>
  
  <div class="profesional">
    <img src="../Assets/profile.jpg" />
    <h2>PERFIL PROFESIONAL</h2>
    <h3>Desarrollador de Productos Digitales</h3>
    <p class="description">


      Especialista Frontend versátil con amplia experiencia en Backend, Control de Calidad y Salesforce. Motivado por la
      creación de experiencias digitales intuitivas que equilibran la excelencia estética con el rendimiento técnico.
      Dedicado al desarrollo de soluciones escalables que priorizan la usabilidad, la optimización y la adherencia a las
      mejores prácticas de la industria.

      Las competencias principales incluyen frameworks modernos de desarrollo web, implementación de automatización de
      pruebas y patrones de diseño arquitectónico que garantizan código mantenible y de alta calidad. Aprovechamiento de
      las capacidades de integración de Salesforce para conectar soluciones frontend con sistemas CRM empresariales y
      plataformas de negocio.

      Éxito demostrado en la entrega de valor multifuncional a través de liderazgo técnico que une la visión de diseño
      con funcionalidad robusta, resultando en productos digitales optimizados que superan las expectativas de los
      usuarios y los requisitos del negocio.
    </p>

  </div>

  <div class="footer-basic">
    <footer>
      <div class="social">
        <a href="#"><img src="../Assets/github.png" /></a>
        <a href="#"><img src="../Assets/gmail.png" /></a>
        <a href="#"><img src="../Assets/linkedin.png" />
      </div>
      <ul class="list-inline">
        <li><a href="../Home.html">Home</a></li>
        <li><a href="../Components/About.html">About</a></li>
      </ul>
      <p class="copyright">Diana Ramos - Enginner © 2025</p>
    </footer>
  </div>
</body>

</html>