body {
  background-color: rgba(20, 45, 233, 0);
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

/* estilos aplicados a la seccion header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: rgba(43, 22, 234, 0.837);
  box-shadow: inset 0 0 10px rgba(46, 166, 214, 0.837);
  color: white;

}

header img {
  width: 300px;
  height: 70px;
  border-radius: 50px;
  margin-left: 20px;
}

nav {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 10px;
  background-color: rgba(43, 22, 234, 0.837);
  box-shadow: inset 0 0 10px rgba(46, 166, 214, 0.837);
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 12px;

}


nav a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  width: 80%;
  margin: 80px 80px 150px 90px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(43, 22, 234, 0.837);
}

fieldset.datos {
  border: 2px solid rgba(43, 22, 234, 0.837);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
}

fieldset.datos legend {
  font-size: 20px;
  font-weight: bold;
  color: rgba(43, 22, 234, 0.837);
}

fieldset.datos label {
  font-size: 15px;
  margin-bottom: 20px;
  color: rgba(43, 22, 234, 0.837);

}

fieldset.datos input[type="text"],
fieldset.datos input[type="email"],
fieldset.datos input[type="tel"],
fieldset.datos input[type="password"],
fieldset.datos input[type="date"],
fieldset.datos input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(43, 22, 234, 0.837);
  background-color: rgba(255, 255, 255, 0.8);
}

fieldset.comentario {
  border: 2px solid rgba(43, 22, 234, 0.837);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 70px;
  width: 80%;
}

fieldset.comentario legend {
  font-size: 20px;
  font-weight: bold;
  color: rgba(43, 22, 234, 0.837);
}

fieldset.comentario label {
  font-size: 15px;
  margin-bottom: 20px;
  color: rgba(43, 22, 234, 0.837);

}

fieldset.comentario textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(43, 22, 234, 0.837);
  background-color: rgba(255, 255, 255, 0.8);
}

fieldset.comentario textarea {
  height: 100px;
  resize: none;
}

fieldset.comentario button {
  background-color: rgba(43, 22, 234, 0.837);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  font-size: 12px;

}

.footer-basic {
  padding: 30px 0;
  background-color: whitesmoke;
  color: rgba(43, 22, 234, 0.837);
  box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
  -webkit-box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
  -moz-box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {

  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 40px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.social img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15%;
}

.footer-basic .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}