form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  width: 80%;
  margin: 80px 80px 150px 90px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(43, 22, 234, 0.837);
}

fieldset.datos {
  border: 2px solid rgba(43, 22, 234, 0.837);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
}

fieldset.datos legend {
  font-size: 20px;
  font-weight: bold;
  color: rgba(43, 22, 234, 0.837);
}

fieldset.datos label {
  font-size: 15px;
  margin-bottom: 20px;
  color: rgba(43, 22, 234, 0.837);

}

fieldset.datos input[type="text"],
fieldset.datos input[type="email"],
fieldset.datos input[type="tel"],
fieldset.datos input[type="password"],
fieldset.datos input[type="date"],
fieldset.datos input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(43, 22, 234, 0.837);
  background-color: rgba(255, 255, 255, 0.8);
}

fieldset.comentario {
  border: 2px solid rgba(43, 22, 234, 0.837);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 70px;
  width: 80%;
}

fieldset.comentario legend {
  font-size: 20px;
  font-weight: bold;
  color: rgba(43, 22, 234, 0.837);
}

fieldset.comentario label {
  font-size: 15px;
  margin-bottom: 20px;
  color: rgba(43, 22, 234, 0.837);

}

fieldset.comentario textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(43, 22, 234, 0.837);
  background-color: rgba(255, 255, 255, 0.8);
}

fieldset.comentario textarea {
  height: 100px;
  resize: none;
}

fieldset.comentario button {
  background-color: rgba(43, 22, 234, 0.837);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  font-size: 12px;

}