body {
    background-color: rgba(20, 45, 233, 0);
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: rgba(43, 22, 234, 0.837);
    box-shadow: inset 0 0 10px rgba(46, 166, 214, 0.837);
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;

}

header img {
    width: 300px;
    height: 70px;
    border-radius: 50px;
    margin-left: 20px;
}

header img:hover {
    transform: perspective(1000px) rotateY(360deg);
    transition: 0.5s;

}

nav {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 50px;
    padding-top: 130px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(43, 22, 234, 0.837);
    box-shadow: inset 0 0 10px rgba(46, 166, 214, 0.837);
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 12px;

}


nav a:hover {
    text-decoration: underline;
}

.footer-basic {
    padding: 30px 0;
    margin: 0px;
    background-color: whitesmoke;
    color: rgba(43, 22, 234, 0.837);
    box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
    -webkit-box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
    -moz-box-shadow: -1px -11px 17px 1px rgba(43, 22, 234, 0.837);
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;

}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {

    border-radius: 50%;
    margin: 0 40px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.social img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15%;
}

.footer-basic .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}